.list {
    display: flex;
    justify-content: space-between;
}

.listItem {
    padding: 4px 12px;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        right: -10px;
        display: inline-block;
        width: 2px;
        height: 20px;
        background-color: var(--color-dark-300);
    }
}