.filterPage {
  margin-top: 40px;
}

.filterAsideBlock {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 350px;
  width: 100%;
  height: fit-content;
  background-color: var(--headerBg);
  padding: 15px;
  border-radius: 12px;
  border: 1px solid var(--footerBorder);
}

.filterAsideTitle {
  color: var(--text);
}

.filterAsideText {
  color: var(--headerText);
}

.filterSelect {
  display: inline-block;
  width: 100%;
}

.resetBtn {
  margin-top: 10px;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

.genreBtnActive {
  color:  var(--secondaryBtnText);
  background-color: rgba(189, 185, 185, 0.6)
}

.moviesSection {
  flex: 1;
}