.mainPageSection {
  width: 100vw;
}

.hero {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.1);
}

