:root {
  --bg: var(--color-light-100);
  --text: var(--color-dark-900);
  --headerBg: var(--color-light-500);
  --headerText: var(--color-dark-300);
  --footerBorder: var(--color-light-700);
  --secondaryBtnHover: rgba(194, 194, 194, 0.8);
  --secondaryBtnText: rgb(59, 154, 78);
}

[data-theme='dark'] {
  --bg: var(--color-dark-900);
  --text: var(--color-light-100);
  --headerBg: var(--color-dark-700);
  --headerText: var(--color-dark-100);
  --footerBorder: var(--color-dark-300);
  --secondaryBtnHover: rgba(100, 100, 100, 0.8);
  --secondaryBtnText: rgb(59, 154, 78);
}

html {
  box-sizing: border-box;
  font-size: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition:
          background-color .3s ease,
          color .3s ease,
          border-color .3s ease;
}

html,
body,
#root {
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
}

input,
button,
select,
textarea,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
}

body {
  min-width: 320px;
  min-height: 100vh;

  font-family: var(--font-family-primary), sans-serif;
  line-height: var(--line-height-m);
  color: var(--text);

  background-color: var(--bg);
}

main {
  padding-top: 116px;
  flex: 1
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  background-color: unset;
  border: none;
  cursor: pointer;
}