.favoritesSection {
  min-width: 80vh;
}

.favoriteTitle {
  display: inline-block;
  color: var(--text);
  font-size: 30px;
  margin: 20px 0;
}

.favoritesCaption {
  display: inline-block;
  margin-top: 10px;
  opacity: .6;
}
