.actorCard {
  width: 100%;
  min-height: 300px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.actorImg {
  width: 100%;
  position: relative;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 15px;

  transition: transform 0.3s ease;
}

.info {
  flex: 1;
}

.actorName, .characterName {
  color: var(--text);
}

.characterName {
  display: inline-block;
  opacity: .9;
  margin-top: auto;
}
